<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/allBeers.css">

</head>

<body>

<div th:insert="fragments/navigation"></div>

<script sec:authorize="isAuthenticated()">
    $("#wrapper").attr('style', 'margin-left: 80px');
</script>


<!-- Page Content -->
<div id="wrapper" class="container">

    <div class="row">

        <div class="col-lg-10">

            <br><br>
            <div class="row" id="container">


            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--ADMIN-->
<script sec:authorize="hasRole('ROLE_ADMIN')" th:src="@{/scripts/adminStyles.js}"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>
