<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="styles.css"/>
<link rel="stylesheet" href="main.css"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="mobirise-icons-bold/mobirise-icons-bold.css">
<link rel="stylesheet" href="mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="scripts/tether/tether.min.css">
<!--<link rel="stylesheet" href="
bootstrap/css/bootstrap.min.css">-->
<link rel="stylesheet" href="bootstrap-grid.min.css">
<link rel="stylesheet" href="bootstrap-reboot.min.css">
<link rel="stylesheet" href="dropdown_css/style.css">
<link rel="stylesheet" href="animate.min.css">
<link rel="stylesheet" href="socicon_css/styles.css">
<link rel="stylesheet" href="theme/css/style.css">
<link rel="stylesheet" href="mobirise/css/mbr-additional.css" type="text/css">

<head>
    <title>Beer Tag</title>

</head>

<body>

<div th:insert="fragments/navigation"></div>

<script sec:authorize="isAuthenticated()">
    $("#wrapper").attr('style', 'margin-left: 80px');
</script>

<div id="wrapper">

    <section class="cid-qvQeFy23Ch mbr-fullscreen " id="header2-0" data-rv-view="124">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgba(173,147,126,0.7);"></div>

        <div class="container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BEER TAG&nbsp;</h1>

                    <p class="mbr-text pb-3 mbr-fonts-style display-5" style="color: white">
                        Check our site: enjoy fuzzy magic!</p>
                    <div class="mbr-section-btn">
                        <a class="btn  btn-warning display-4" href="/beers">ALL BEERS</a>
                        <a class="btn  btn-warning display-4" href="/about">ABOUT US</a></div>
                </div>
            </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
                <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
    </section>

    <section class="features1 cid-qvQeKADmXz" id="features1-1" data-rv-view="127">


        <div class="container">
            <div class="media-container-row">

                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mbrib-hearth" style="color: rgb(35, 35, 35);"
                              media-simple="true"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-5">Have fun!</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            As far as quotes go, when one begins with “To quote the great…” it doesn’t usually end in
                            “Homer
                            Simpson!” unless you are in a room full of beer-lovers.&nbsp;</p>
                    </div>
                </div>

                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mbrib-users" style="color: rgb(35, 35, 35);"
                              media-simple="true"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-5">
                            Make friends!</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            “Here’s to alcohol: the cause of, and solution to, all of life’s problems.” - Homer Simpson
                        </p>
                    </div>
                </div>

                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                    <span class="mbr-iconfont mbrib-magic-stick" style="color: rgb(35, 35, 35);"
                          media-simple="true"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-5">
                            Make magic!</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Without question, the greatest invention in the history of mankind is beer. Oh, I grant you
                            that
                            the wheel was also a fine invention, but the wheel does not go nearly as well with pizza.
                        </p>
                    </div>
                </div>


            </div>

        </div>

    </section>

    <section class="features11 cid-qvQeLmno0F" id="features11-2" data-rv-view="130">


        <div class="container">
            <div class="col-md-12">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 50%;">
                        <img src="
                    images/women_cheers.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class=" align-left">
                        <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Enjoy <strong>beer </strong>moments!
                        </h2>
                        <div class="block-content">
                            <div class="card p-3 pr-3">
                                <div class="media">
                                    <div class=" align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-hearth" style="color: rgb(35, 35, 35);"
                                          media-simple="true"></span>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="card-title mbr-fonts-style display-7">
                                            Visit our beer catalog!</h4>
                                    </div>
                                </div>

                                <div class="card-box">
                                    <p class="block-text mbr-fonts-style display-7">
                                        Today, there are hundreds of documented beer styles and a handful of
                                        organizations with their own unique classifications. As beer styles continue to
                                        evolve, understanding the sensory side of craft beer will help you more deeply
                                        appreciate and share your knowledge and enthusiasm for the beverage of beer.
                                    </p>
                                </div>
                            </div>

                            <div class="card p-3 pr-3">
                                <div class="media">
                                    <div class="align-self-center card-img pb-3">
                                    <span class="mbr-iconfont mbri-sun" style="color: rgb(35, 35, 35);"
                                          media-simple="true"></span>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="card-title mbr-fonts-style display-7">
                                            Share your favourite beers with<strong> #BeerTagTeam09</strong></h4>
                                    </div>
                                </div>

                                <div class="card-box">
                                    <p class="block-text mbr-fonts-style display-7">
                                        According to the Gallup Poll, 36 percent of people do not consume alcohol.
                                        Тhere have been articles about widespread shifts of legal drinkers from
                                        spirits or wine to beer. The annual Gallup survey has shown remarkable stability
                                        in consumer preferences for beer.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonials1 cid-qvQfGWW3Zl" id="testimonials1-6" data-rv-view="142">


        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 align-center">
                    <h2 class="pb-3 mbr-fonts-style display-2">
                        SOME <strong>REVIEWS </strong>BY OUR VISITORS</h2>
                </div>
            </div>
        </div>

        <div class="container pt-3 mt-2">
            <div class="media-container-row">
                <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-block">
                            <div class="testimonial-photo">
                                <img src="images/catarina-carvalho-344974-1000x1000.jpg" alt="" title=""
                                     media-simple="true">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Beer tag almost made me quit smoking. It's addictive!
                                Best user experience ever!
                                I'm grateful!
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                                Jennifer Ann
                            </div>

                        </div>
                    </div>
                </div>

                <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-block">
                            <div class="testimonial-photo">
                                <img src="images/user-review-1000x1000.jpg" alt="" title="" media-simple="true">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7">
                                Thank you! My time spent here is a blessing from the beer gods!
                                Beer is from heaven.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                                Ana Nickole
                            </div>

                        </div>
                    </div>
                </div>

                <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-block">
                            <div class="testimonial-photo">
                                <img src="images/user-review2-1000x1000.jpg" alt="" title="" media-simple="true">
                            </div>
                            <p class="mbr-text mbr-fonts-style display-7">
                                BeerTag gave back my love for beer. It changed my life completely.
                                I started seeing fellow beer lovers.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                                John Smith
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <section class="clients cid-qvQfKA3Kov" id="clients-7" data-rv-view="145">


            <div class="container mb-5">
                <div class="media-container-row">
                    <div class="col-12 align-center">
                        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                            Our <strong>Sponsors</strong></h2>
                        <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">
                            This is as a symbol of our gratitude for the help and support you have given to this idea.
                            We
                            will never forget your generosity.
                        </h3>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="carousel slide" data-ride="carousel" role="listbox">
                    <div class="carousel-inner" data-visible="5">


                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="
                                images/stackoverflow.png" class="img-responsive clients-img" media-simple="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="
                            images/google-logo.png" class="img-responsive clients-img" media-simple="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="
                            images/baeldung.png" class="img-responsive clients-img" media-simple="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="
                            images/intelij-logo.png" class="img-responsive clients-img" media-simple="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="
                            images/javascript-logo.png" class="img-responsive clients-img" media-simple="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="map1 cid-qvQfVaWl7H" id="map1-9" data-rv-view="162">

            <div class="google-map">
                <iframe frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJa-QiA5SGqkARIbhz0Ykqz50"
                        allowfullscreen=""></iframe>
            </div>
        </section>

        <section class="social-section" id="social-buttons3-b" data-rv-view="164" style="padding-bottom: 0">


            <div class="container">
                <div class="media-container-row">
                    <div class="col-md-8 align-center">
                        <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">
                            SHARE

                        </h2>
                        <div>
                            <div class="mbr-social-likes">
                        <span class="btn btn-social socicon-bg-facebook facebook mx-2" title="Share link on Facebook">
                            <i class="socicon socicon-facebook"></i>
                        </span>
                                <span class="btn btn-social twitter socicon-bg-twitter mx-2"
                                      title="Share link on Twitter">
                            <i class="socicon socicon-twitter"></i>
                        </span>
                                <span class="btn btn-social vkontakte socicon-bg-vkontakte mx-2"
                                      title="Share link on VKontakte">
                            <i class="socicon socicon-vkontakte"></i>
                        </span>
                                <span class="btn btn-social odnoklassniki socicon-bg-odnoklassniki mx-2"
                                      title="Share link on Odnoklassniki">
                            <i class="socicon socicon-odnoklassniki"></i>
                        </span>
                                <span class="btn btn-social pinterest socicon-bg-pinterest mx-2"
                                      title="Share link on Pinterest">
                            <i class="socicon socicon-pinterest"></i>
                        </span>
                                <span class="btn btn-social mailru socicon-bg-mail mx-2" title="Share link on Mailru">
                            <i class="socicon socicon-mail"></i>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--<script src="
        web/
        jquery/jquery.min.js"></script>-->
        <script src="scripts/tether/tether.min.js"></script>
        <script src="scripts/popper.min.js"></script>
        <!--<script src="
        bootstrap/js/bootstrap.min.js"></script>-->
        <script src="scripts/dropdown_js/script.min.js"></script>
        <script src="scripts/touch-swipe/jquery.touch-swipe.min.js"></script>
        <script src="scripts/viewport-checker/jquery.viewportchecker.js"></script>
        <script src="scripts/smooth-scroll/smooth-scroll.js"></script>
        <script src="scripts/bootstrap-carousel-swipe.js"></script>
        <script src="scripts/social-likes/social-likes.js"></script>
        <script src="scripts/jarallax/jarallax.min.js"></script>
        <script src="theme/js/script.js"></script>
        <script src="scripts/formoid/formoid.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </section>
</div>

<script src="scripts/main.js"></script>
</body>
</html>